@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 100%;
    padding-left: 5px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside ul {
    list-style: none;
}
aside ul li{
    border-left: 5px solid black;
    font-size: 25px;
    padding: 0 10px;
}
aside ul li.active {
    border-left: 5px solid red;
}
aside ul li.active a{
    color: red;
}
aside a.active {
    color: red;
}
main {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: calc(100% - 300px);
    margin-left: 300px;
}
a {
    color: blue;
    text-decoration: none; /* no underline */
  }
main div {
    width: 100%;
    height: 700px;
    background-color: rgba(255,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
main div {
    display: flex;
    flex-direction: column;
}
main > h1 {
    width: 70%;
    font-size: 50px;
    word-wrap: break-word;
    margin-inline: auto;
    text-align: center;
}
main div:nth-child(even) {
    background-color: grey;
    height: 500px;
}
#blog {
    margin-bottom: 1000px;
}
#test {
    height: 400px;
}


