@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p,a,li {
    color: #002f6c;
}
h1 {
    font-size: 40px;
}

header {
    height: 500px;
    width: 100%;
    background-color: grey;
}
.header2 {
    /* background-color: white; */
    margin-top: 30px;
}
#npy-blog {
    display: flex;
    height: fit-content;
    padding-bottom: 100px;
    border-bottom: 1px solid #002f6c;
}
#npy-blog aside {
    min-width: 350px;
    width: 350px;
    position: relative;
}
#npy-blog aside ul {
    list-style: none;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    overflow-y: auto;
    height: fit-content;
    max-height: 95vh;
    padding-top: 55px;
}
#npy-blog aside ul::-webkit-scrollbar-thumb{
    width: 5px;
    border-radius: 5px;
    background-color: #002f6c;
    display: none;
}
#npy-blog aside ul::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, .1);
    width: 5px;
    display: none;
}
#npy-blog aside ul:hover::-webkit-scrollbar-thumb,
#npy-blog aside ul:hover::-webkit-scrollbar {
    display: block;
}
#npy-blog aside ul.active {
    position: fixed;
    padding-top: 0;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 360px;
}
#npy-blog aside ul.fix-bottom {
    position: absolute;
    top: auto;
    bottom: 0;
}
#npy-blog aside ul li{
    position: relative;
    border-left: 2px solid grey;
    opacity: .3;
    padding: 7px 10px;
    font-size: 14px;
    width: 90%;
    align-self: center;
    /* transition: border-image 300ms linear; */
}

#npy-blog aside ul li.active {
    border-left:2px solid #002f6c;
    opacity: 1;
    scroll-snap-align: start;
}

#npy-blog aside ul li.active a{
    color: #002f6c;
}
#npy-blog aside a {
    color: black;
    text-decoration: none; /* no underline */
}

#npy-blog main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 1204px;
    flex: 1;
    scroll-snap-type: y;
}

#npy-blog main > h2,
#npy-blog main > p,
#npy-blog main > h3 {
    width: 60%;
    margin-inline: auto;
}
#npy-blog main p {
    line-height: 35px;
}

#npy-blog main .img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 70%;
    height: 600px;
    border-radius: 15px;
    margin-inline: auto;
}
#npy-blog main .img-cont img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}






/* 
.scrollbar-cont {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 50;
}
#scrollbar {
    position: absolute;
    top: 100%;
    height: 5px;
    width: 100%;
    background-color: #002f6c;
} */






/* div publicite */
#npy-blog main .carousel-container {
    position: relative;
    width: 70%;
    margin: 30px auto;
}
#npy-blog main .carousel-container .controls {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    transform: translateY(-110%);
    display: flex;
    gap: 20px;
    font-size: 50px;
}
#npy-blog main .carousel-container .controls ion-icon {
    background-color: #002f6c31;
    color: white;
    border-radius: 10px;
    width: 50px;
    cursor: pointer;
}
#npy-blog main .carousel-container .controls ion-icon:hover {
    background-color: #014eb3;
}
#npy-blog main .carousel {
    height: 350px;
    display: flex;
    overflow-x: hidden;
    gap: 25px;
    position: relative;
    scroll-snap-type: x mandatory;
}



#npy-blog main .carousel .card{
    display: flex;
    flex-direction: column;
    min-width: 450px;
    width: 450px;
    height: 350px;
    scroll-snap-align: start;
    text-decoration: none;
}
#npy-blog main .carousel .card .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    border-radius: 15px;
    overflow: hidden;
}
#npy-blog main .carousel .card .card-img img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
#npy-blog main .carousel .card .card-desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    flex: 1;
    width: 100%;
    padding-inline: 20px;
    overflow: hidden;
}
#npy-blog main .carousel .card .card-desc p{
    font-size: 14px;
    line-height: 20px;
}
#npy-blog main .carousel .card .card-desc h4{
    font-size: 20px;
    line-height: 25px;
}

